### Information about dataset
We'll work with a dataset from Fortune magazine's 2017 Global 500 list, which ranks the top 500 corporations worldwide by revenue. 


The dataset was originally compiled [here](https://data.world/chasewillden/fortune-500-companies-2017)


Data dictionary ::::


| Column     | Description |
| :---------- | :---------- |
|company | The company's name|
| rank |Global 500 rank for the company|
| revenues| Company's total revenue for the fiscal year, in millions of dollars (USD)|
| revenue_change | Percentage change in revenue between the current and prior fiscal year|
| profits | Net income for the fiscal year, in millions of dollars (USD)|
| ceo | Company's Chief Executive Officer|
| industry |The company's industry of operation|
| sector | Sector in which the company operates|
| previous_rank | Global 500 rank for the company for the prior year|
| country | Country of the company's headquarters|

In [1]:
import pandas as pd
import numpy as np
g500 = pd.read_csv('f500.csv')

In [2]:
print(g500.shape)

(500, 17)

In [3]:
g500

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [4]:
print(g500.dtypes)
# object, which is used for columns that have data that doesn't fit into any other dtypes. This is normally used for columns containing string values.

company                      object
rank                          int64
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [5]:
g500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   500 non-null    object
 1   rank                      500 non-null    int64
 2   revenues                  500 non-null    int64
 3   revenue_change            498 non-null    float64
 4   profits                   499 non-null    float64
 5   assets                    500 non-null    int64
 6   profit_change             436 non-null    float64
 7   ceo                       500 non-null    object
 8   industry                  500 non-null    object
 9   sector                    500 non-null    object
 10  previous_rank             500 non-null    int64
 11  country                   500 non-null    object
 12  hq_location               500 non-null    object
 13  website                   500 non-null    object
 14  years_on_global_500_list  500 non-null    int64
 15  employees                 500 non-null    int64
 16  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(7)
memory usage: 66.5+ KB

Since our axis in pandas have labels, we can select data using those labels — unlike in NumPy, where we needed to know the exact index location

### Obj: Calculate the changes in rank for each company

In [6]:
rank_change = g500["previous_rank"] - g500["rank"] 
print(rank_change)

0        0
1        0
2        1
3       -1
4        3
      ...
495   -496
496    -70
497    -61
498    -32
499   -500
Length: 500, dtype: int64

In [7]:
print("Max rank change :",rank_change.max())
print("Min rank_change :", rank_change.min())

Max rank change : 226
Min rank_change : -500


__This indicates that there is incorrect data in either the rank column or previous_rank column.__

In [8]:
print(g500["previous_rank"].describe())

count    500.000000
mean     222.134000
std      146.941961
min        0.000000
25%       92.750000
50%      219.500000
75%      347.250000
max      500.000000
Name: previous_rank, dtype: float64

__The minimum previous rank is 0 which should not be possible since ranking is 1 to 500__

So find out all the 0's

In [9]:
print(g500["previous_rank"].value_counts()[0])

33

In [11]:
# series , data frame method to return stats for columns - default for only numeric
print(g500.describe())

             rank       revenues  revenue_change       profits        assets  \
count  500.000000     500.000000      498.000000    499.000000  5.000000e+02
mean   250.500000   55416.358000        4.538353   3055.203206  2.436323e+05
std    144.481833   45725.478963       28.549067   5171.981071  4.851937e+05
min      1.000000   21609.000000      -67.300000 -13038.000000  3.717000e+03
25%    125.750000   29003.000000       -5.900000    556.950000  3.658850e+04
50%    250.500000   40236.000000        0.550000   1761.600000  7.326150e+04
75%    375.250000   63926.750000        6.975000   3954.000000  1.805640e+05
max    500.000000  485873.000000      442.300000  45687.000000  3.473238e+06

       profit_change  previous_rank  years_on_global_500_list     employees  \
count     436.000000     500.000000                500.000000  5.000000e+02
mean       24.152752     222.134000                 15.036000  1.339983e+05
std       437.509566     146.941961                  7.932752  1.700878e+05
min      -793.700000       0.000000                  1.000000  3.280000e+02
25%       -22.775000      92.750000                  7.000000  4.293250e+04
50%        -0.350000     219.500000                 17.000000  9.291050e+04
75%        17.700000     347.250000                 23.000000  1.689172e+05
max      8909.500000     500.000000                 23.000000  2.300000e+06

       total_stockholder_equity
count                500.000000
mean               30628.076000
std                43642.576833
min               -59909.000000
25%                 7553.750000
50%                15809.500000
75%                37828.500000
max               301893.000000

In [12]:
#include 'O' for non-numeric
print(g500.describe(include=['O']))

            company                 ceo                       industry  \
count           500                 500                            500
unique          500                 500                             58
top     Wells Fargo  Phebe N. Novakovic  Banks: Commercial and Savings
freq              1                   1                             51

            sector country     hq_location                 website
count          500     500             500                     500
unique          21      34             235                     500
top     Financials     USA  Beijing, China  http://www.chevron.com
freq           118     132              56                       1

__Companies weren't included previously - values should be null__

This is the most common way to write pandas code to __perform assignment using boolean arrays:__

f500.loc [ f500["sector"] == "Motor Vehicles & Parts","sector"] = "Motor Vehicles and Parts"

In [13]:
print(g500["previous_rank"].value_counts(dropna=False).head())

0      33
159     1
147     1
148     1
149     1
Name: previous_rank, dtype: int64

In [14]:
g500.loc[g500["previous_rank"] == 0, "previous_rank"] = np.nan
null_ranks = g500["previous_rank"].isnull()
print(g500[null_ranks][["company","rank","previous_rank"]])

                                   company  rank  previous_rank
48                   Legal & General Group    49            NaN
90                                  Uniper    91            NaN
123                      Dell Technologies   124            NaN
138                 Anbang Insurance Group   139            NaN
140                        Albertsons Cos.   141            NaN
180             Hewlett Packard Enterprise   181            NaN
267                           Hengli Group   268            NaN
271         Johnson Controls International   272            NaN
341                                  Chubb   342            NaN
375                 Charter Communications   376            NaN
376                              Medtronic   377            NaN
392                               Facebook   393            NaN
409                            Kraft Heinz   410            NaN
414                                  Nokia   415            NaN
431                          Standard Life   432            NaN
440            Brookfield Asset Management   441            NaN
441        Mercantil Servicios Financieros   442            NaN
446                            Samsung C&T   447            NaN
456                        Heraeus Holding   457            NaN
458                Yango Financial Holding   459            NaN
461                  Alibaba Group Holding   462            NaN
463                            Progressive   464            NaN
466                Country Garden Holdings   467            NaN
472                                 Altice   473            NaN
477                       Tencent Holdings   478            NaN
482                                  Aflac   483            NaN
484                  Suning Commerce Group   485            NaN
487                             Xiamen C&D   488            NaN
491                         Dollar General   492            NaN
493               Xiamen ITG Holding Group   494            NaN
494  Xinjiang Guanghui Industry Investment   495            NaN
495         Teva Pharmaceutical Industries   496            NaN
499                             AutoNation   500            NaN

#### The pandas library will align on index at every opportunity, no matter if our index labels are strings or integers - this makes working with data from different sources or working with data when we have removed, added, or reordered rows much easier than it would be otherwise.

In [15]:
previously_ranked = g500[g500["previous_rank"].notnull()]
rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]
g500["rank_change"] = rank_change
print(g500.loc[g500["previous_rank"].isnull(),["company","previous_rank","rank_change"]])

                                   company  previous_rank  rank_change
48                   Legal & General Group            NaN          NaN
90                                  Uniper            NaN          NaN
123                      Dell Technologies            NaN          NaN
138                 Anbang Insurance Group            NaN          NaN
140                        Albertsons Cos.            NaN          NaN
180             Hewlett Packard Enterprise            NaN          NaN
267                           Hengli Group            NaN          NaN
271         Johnson Controls International            NaN          NaN
341                                  Chubb            NaN          NaN
375                 Charter Communications            NaN          NaN
376                              Medtronic            NaN          NaN
392                               Facebook            NaN          NaN
409                            Kraft Heinz            NaN          NaN
414                                  Nokia            NaN          NaN
431                          Standard Life            NaN          NaN
440            Brookfield Asset Management            NaN          NaN
441        Mercantil Servicios Financieros            NaN          NaN
446                            Samsung C&T            NaN          NaN
456                        Heraeus Holding            NaN          NaN
458                Yango Financial Holding            NaN          NaN
461                  Alibaba Group Holding            NaN          NaN
463                            Progressive            NaN          NaN
466                Country Garden Holdings            NaN          NaN
472                                 Altice            NaN          NaN
477                       Tencent Holdings            NaN          NaN
482                                  Aflac            NaN          NaN
484                  Suning Commerce Group            NaN          NaN
487                             Xiamen C&D            NaN          NaN
491                         Dollar General            NaN          NaN
493               Xiamen ITG Holding Group            NaN          NaN
494  Xinjiang Guanghui Industry Investment            NaN          NaN
495         Teva Pharmaceutical Industries            NaN          NaN
499                             AutoNation            NaN          NaN

### Select all companies with revenues over 100 billion and negative profits

In [16]:
large_revenue = g500["revenues"] > 100000
negative_profits = g500["profits"] < 0
combined = large_revenue & negative_profits
big_rev_neg_profit = g500[combined]
print(big_rev_neg_profit)

                company  rank  revenues  revenue_change  profits   assets  \
32  Japan Post Holdings    33    122990             3.6   -267.4  2631385
44              Chevron    45    107567           -18.0   -497.0   260078

    profit_change               ceo                         industry  \
32         -107.5  Masatsugu Nagato  Insurance: Life, Health (stock)
44         -110.8    John S. Watson               Petroleum Refining

        sector  previous_rank country    hq_location                  website  \
32  Financials           37.0   Japan   Tokyo, Japan  http://www.japanpost.jp
44      Energy           31.0     USA  San Ramon, CA   http://www.chevron.com

    years_on_global_500_list  employees  total_stockholder_equity  rank_change
32                        21     248384                     91532          4.0
44                        23      55200                    145556        -14.0

### Find the company that employs the most people in China

In [17]:
g500.loc[g500["country"] == "China",["company","employees"]].sort_values(by = "employees",ascending = False).head(5)

                        company  employees
3      China National Petroleum    1512048
118            China Post Group     941211
1                    State Grid     926067
2                 Sinopec Group     713288
37   Agricultural Bank of China     501368

## Calculate the company that employs the most people in each country

In [18]:
countries = g500["country"].unique()
top_employer = {}
for c in countries:
    select_country = g500[g500["country"] == c]
    select_company = select_country.sort_values("employees", ascending = False).head(1)
    top_employer[c] = select_company.iloc[0,0]

In [ ]:
for name in top_employer.items():
    print(name)

###  Find the company with the highest ROA from each sector

__ROA is a business-specific metric which indicates a company's ability to make profit using their available assets__

__ROA = profit/assets__

In [ ]:
g500["roa"] = g500["profits"]/g500["assets"]

In [ ]:
g500

In [ ]:
sectors = g500["sector"].unique()
top_roa_by_sector = {}
for s in sectors:
    top_roa = g500[g500["sector"] == s].sort_values(by = "roa" , ascending = False).head(1)
    top_roa_by_sector[s] = top_roa.iloc[0,0]

In [ ]:
for name in top_roa_by_sector.items():
    print(name)